@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #4fb48b;
  --color-primary-dull: #44ae7c;
}

* {
  font-family: "Outfit", sans-serif;
}